
body{
 
  
    background-image:url("https://imgscf.slidemembers.com/docs/1/1/379/business_plan_ppt_template_design_378248.jpg");
    background-repeat: no-repeat;
    background-size:cover;
      
    
  
}
  
  